.pushy {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 9999;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &--left {
        left: 0;
        transform: translate3d(-250px, 0, 0);
    }

    &--right {
        right: 0;
        transform: translate3d(250px, 0, 0);
    }

    &-content {
        visibility: hidden;
        transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

        .navbar-nav {
            .open {
                .dropdown-menu {
                    @include border-radius(0);
                    padding: 10px 15px;
                    &>li {
                        margin: 0;
                    }
                }
            }
        }
    }

    .navbar-nav {
        display: block;
        padding: 15px 0;

        >li {
            >a {
                padding: 15px 25px;
            }
        }
    }
}

/* Menu Movement */
.pushy-open-left {

    .theme-main,
    .push {
        transform: translate3d(250px, 0, 0);
    }
}

.pushy-open-right {

    .theme-main,
    .push {
        transform: translate3d(-250px, 0, 0);
    }
}

.pushy-open-left,
.pushy-open-right {
    .pushy {
        transform: translate3d(0, 0, 0);
    }

    .pushy-content {
        visibility: visible;
    }

    .site-overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        animation: fade 500ms;
    }
}

/* Menu Transitions */
.theme-main,
.pushy,
.push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
