$global: 'theme';

// Color Variables
$color-white : #fff;
$color-black : #000;

// Dark Alpha Color Swatches
$color-10: darken($color-white, 10%); // #e6e6e6
$color-20: darken($color-white, 20%); // #cccccc
$color-30: darken($color-white, 30%); // #b3b3b3
$color-40: darken($color-white, 40%); // #999999
$color-50: darken($color-white, 50%); // #808080
$color-60: darken($color-white, 60%); // #666666
$color-70: darken($color-white, 70%); // #4d4d4d
$color-80: darken($color-white, 80%); // #333333
$color-90: darken($color-white, 90%); // #1a1a1a

// Brand Color
$color-brand: $color-90;

// Bootstrap Color
$color-primary : #3498DB !default;
$color-success : #2ECC71 !default;
$color-info : #67B2E5 !default;
$color-warning : #F39C12 !default;
$color-danger : #E74C3C !default;

// Page Color Properties
$color-base: $color-70;
$color-link: $color-50;
$color-link-hover: $color-brand;
$color-visited: $color-50;
$color-active: $color-50;
$color-border: $color-10;
$color-header: $color-90;
