@import 'theme/colors/default/vars',
'utilities/breakpoint';


// Global
body {
    color: $color-base;
}

a {
    @include links($color-link-default, $color-visited, $color-link-default-hover, $color-active);
}


// Placeholder
%heading {
    color: $color-header-typo;
}


// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}


// Helpers
.link {
    &-brand {
        @include links($color-link-brand, $color-visited, $color-link-brand-hover, $color-active);
    }

    &-light {
        @include links($color-link-light, $color-visited, $color-link-light-hover, $color-active);
    }
}

.bg {
    &-primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &-success {
        background-color: $color-success;
        color: $color-white;
    }

    &-info {
        background-color: $color-info;
        color: $color-white;
    }

    &-warning {
        background-color: $color-warning;
        color: $color-white;
    }

    &-danger {
        background-color: $color-danger;
        color: $color-white;
    }
}

.text {
    &-primary {
        color: $color-primary;
    }

    &-success {
        color: $color-success;
    }

    &-info {
        color: $color-info;
    }

    &-warning {
        color: $color-warning;
    }

    &-danger {
        color: $color-danger;
    }

    &-brand {
        color: $color-brand;
    }

    &-brand-secondary {
        color: $color-brand-secondary;
    }

    &-brand-secondary-light {
        color: lighten($color-brand-secondary, 10%);
    }

    &-base {
        color: $color-base;
    }

    &-semi-light {
        color: $color-semi-light;
    }

    &-light {
        color: $color-light;
    }

    &-semi-dark {
        color: $color-semi-dark;
    }

    &-dark {
        color: $color-dark;
    }
}

.label {
    &-default {
        background-color: $color-10;
        color: $color-70;
    }

    &-primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &-success {
        background-color: $color-success;
        color: $color-white;
    }

    &-info {
        background-color: $color-info;
        color: $color-white;
    }

    &-warning {
        background-color: $color-warning;
        color: $color-white;
    }

    &-danger {
        background-color: $color-danger;
        color: $color-white;
    }

    &-brand {
        background-color: $color-brand;
        color: $color-white;
    }

    &-brand-light {
        background-color: lighten($color-brand, 10%);
        color: $color-white;
    }

    &-brand-secondary {
        background-color: $color-brand-secondary;
        color: $color-white;
    }

    &-brand-secondary-light {
        background-color: lighten($color-brand-secondary, 10%);
        color: $color-white;
    }

    &-base {
        background-color: $color-base;
        color: $color-white;
    }

    &-semi-light {
        background-color: $color-semi-light;
        color: $color-white;
    }

    &-light {
        background-color: $color-light;
        color: $color-base;
    }

    &-semi-dark {
        background-color: $color-semi-dark;
        color: $color-white;
    }

    &-dark {
        background-color: $color-dark;
        color: $color-white;
    }
}


// Buttons
.btn {
    &-brand {
        background-color: $color-brand;
        border-color: $color-brand;
        color: $color-white;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-brand, 20%);
            border-color: darken($color-brand, 20%);
            color: $color-white;
        }
    }

    &-brand-secondary {
        background-color: $color-brand-secondary;
        border-color: $color-brand-secondary;
        color: $color-white;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-brand-secondary, 20%);
            border-color: darken($color-brand-secondary, 20%);
            color: $color-white;
        }
    }

    &-default {
        background-color: $color-white;
        border-color: $color-10;

        &:hover,
        &:focus,
        &:visited {
            background-color: $color-20;
            border-color: $color-20;
        }
    }

    &-primary {
        background-color: $color-primary;
        border-color: $color-primary;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-primary, 10%);
            border-color: darken($color-primary, 10%);
        }
    }

    &-success {
        background-color: $color-success;
        border-color: $color-success;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-success, 10%);
            border-color: darken($color-success, 10%);
        }
    }

    &-info {
        background-color: $color-info;
        border-color: $color-info;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-info, 10%);
            border-color: darken($color-info, 10%);
        }
    }

    &-warning {
        background-color: $color-warning;
        border-color: $color-warning;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-warning, 10%);
            border-color: darken($color-warning, 10%);
        }
    }

    &-danger {
        background-color: $color-danger;
        border-color: $color-danger;

        &:hover,
        &:focus,
        &:visited {
            background-color: darken($color-danger, 10%);
            border-color: darken($color-danger, 10%);
        }
    }

    &-burger {
        background-color: transparent;
    }
}


// Navbar
.navbar {
    &-default {
        background-color: $color-90;
    }
}


// Pager
.pager {
    border-color: $color-light;
}


// Alert
.alert {
    &-success {
        .close {
            color: darken($color-success, 25%);

            &:hover {
                color: darken($color-success, 50%);
            }
        }
    }

    &-info {
        .close {
            color: darken($color-info, 25%);

            &:hover {
                color: darken($color-info, 50%);
            }
        }
    }

    &-warning {
        .close {
            color: darken($color-warning, 25%);

            &:hover {
                color: darken($color-warning, 50%);
            }
        }
    }

    &-danger {
        .close {
            color: darken($color-danger, 25%);

            &:hover {
                color: darken($color-danger, 50%);
            }
        }
    }
}


// HR Seprator
.hr {
    &--option-1 {
        border-color: $color-10;
    }
}


// Forms
.form-control {
    border-color: $color-border;
    color: $color-70;

    &:focus {
        border-color: $color-30;
    }
}

.input-group-addon {
    border: 1px solid $color-border;

    .quantity-right-plus,
    .quantity-left-minus {
        color: $color-30;

        &:hover {
            color: $color-70;
        }
    }
}

.input-number {
    &:focus {
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
    }
}

.error {
    border-color: $color-danger;
}

label {
    &.error {
        color: $color-danger;
    }
}


// Dropdowns
.dropdown {
    &--wrap {
        border-color: $color-10;
    }

    &-menu {
        border-color: $color-10;
    }
}


// Table
.table {
    &-responsive-custom {
        thead {
            color: $color-50;
        }

        tr {
            @include breakpoint(xs) {
                border-left: 1px solid $color-border;
                border-right: 1px solid $color-border;
            }
        }

        td {
            @include breakpoint(xs) {
                &:last-child {
                    border-bottom: 1px solid $color-border;
                }
            }
        }
    }
}


// Tabs
.tabs {
    &--default {
        .nav-tabs {
            border-color: $color-border;

            >li {
                &.active {
                    >a {
                        border-bottom: 1px solid $color-80;

                        &:hover {
                            border-bottom: 1px solid $color-80;
                        }
                    }
                }

                >a {
                    border-bottom: 1px solid $color-border;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }

                    &:hover {
                        border-bottom: 1px solid transparent;
                        color: $color-80;
                    }
                }
            }
        }
    }

    &--media {
        .nav-tabs {
            border-color: $color-border;

            >li {
                &.active {
                    >a {
                        border-bottom: 1px solid $color-80;

                        &:hover {
                            border-bottom: 1px solid $color-80;
                        }
                    }
                }

                >a {
                    border-bottom: 1px solid $color-border;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }

                    &:hover {
                        border-bottom: 1px solid transparent;
                        color: $color-80;
                    }
                }
            }
        }
    }

    // Delete the below codes
    &--design {
        &-2 {
            .nav-tabs {
                border-color: $color-border;

                >li {
                    &.active {
                        >a {
                            border-bottom: 1px solid $color-80;

                            &:hover {
                                border-bottom: 1px solid $color-80;
                            }
                        }
                    }

                    >a {
                        border-bottom: 1px solid $color-border;

                        &:hover,
                        &:focus {
                            background-color: transparent;
                        }

                        &:hover {
                            border-bottom: 1px solid transparent;
                            color: $color-80;
                        }
                    }
                }
            }
        }
    }

    &--vertical {
        .nav-tabs {
            >li {
                &.active {
                    >a {
                        border-bottom: 1px solid transparent;
                        border-left: 6px solid $color-70;

                        &:hover {
                            border-bottom: 1px solid transparent;
                            border-left: 6px solid $color-70;
                        }
                    }
                }

                >a {
                    border-bottom: 1px solid $color-border;
                    border-left: 1px solid $color-20;
                    background-color: black(.05);

                    &:hover,
                    &:focus {
                        background-color: black(.05);
                    }

                    &:hover {
                        border-bottom: 1px solid transparent;
                        border-left: 6px solid $color-30;
                        color: $color-80;
                    }
                }
            }
        }
    }
}


// Card
.card {
    border-color: $color-border;
    &__caption {
        a {
            @include links($color-base, $color-base, $color-brand-secondary, $color-base);
        }
    }
    &__tag {
        a {
            @include links($color-brand,$color-brand,$color-base,$color-brand,);
        }
    }
}


// Seprators
.or {
    &:after {
        background-color: $color-10;
    }

    &--plain-horizontal {
        span {
            background-color: $color-white;
            color: $color-20;
        }
    }

    &--rounded-horizontal {
        span {
            background-color: $color-10;
            color: $color-90;
        }
    }
}


// Media
.media {
    &-left {
        .img-link {
            border: 1px solid $color-border;

            &:hover {
                border: 1px solid $color-70;
            }
        }
    }
}


// Panels
.panel {
    border-color: $color-border;
}


// Pages
.#{$global} {
    &-header {
        &__brand {
            background-color: $color-header-brand;
            border-color: $color-70;
            color: $color-semi-light;
        }

        &__navbar {
            background-color: $color-header-navbar;
            color: $color-semi-light;
        }

        .nav .open>a,
        .nav .open>a:hover,
        .nav .open>a:focus {
            background-color: transparent;
        }

        .dropdown-menu {
            >li {
                margin: 0;
            }
        }
    }

    &-footer {
        &__info {
            background-color: $color-footer-info;
            color: $color-semi-light;
        }

        &__copyright {
            background-color: $color-footer-copyright;
            color: $color-semi-light;
        }
    }
}


// Navbar
.navbar {
    &-nav {
        >li {
            >a {
                background-color: transparent;
                @include links($color-semi-light, $color-semi-light, $color-brand, $color-semi-light);

                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }

            &.active {
                a {
                    color: $color-brand;
                }
            }
        }
    }

    &-brand {
        span {
            color: $color-brand;
        }

        &:hover,
        &:focus,
        &:visited {
            color: $color-brand-secondary;
        }
    }
}

// Pushy
.pushy {
    background: $color-pushy;

    .nav .open>a,
    .nav .open>a:hover,
    .nav .open>a:focus {
        background-color: transparent;
    }

    &-content {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    background-color: lighten($color-pushy, 7.5%);

                    &>li {
                        margin: 0;

                        >a {
                            background-color: transparent;
                            @include links($color-semi-light, $color-semi-light, $color-brand, $color-semi-light);

                            &:hover,
                            &:focus {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pushy-open-left,
.pushy-open-right {
    .site-overlay {
        background-color: rgba(0, 0, 0, 0.85);
    }
}


// Social 
.social {
    &-icons {
        >li {
            >a {
                @include links($color-semi-light, $color-semi-light, $color-brand, $color-semi-light);
            }
        }
    }
}


// Search
.search {
    input {
        background-color: transparent;
        color: $color-white;
    }
}


// Carousel
.#{$global} {
    &-carousel {

        &__carousel-inner {

            >.item {
                &:after {
                    background-color: black(.5);
                }
            }
        }

        &__carousel-caption {
            >h1 {
                color: $color-white;
            }
        }

    }
}
