@import 'theme/fonts/default/vars',
        'utilities/breakpoint';

// Global
body {
    @include font($base-font, normal, 400);
    @include font-size(1.5);
    @include font-smoothing(on);
}


// Placeholders
// Header font
%heading {
    @include font($header-font, normal, 700);
}

// Helper Classes
.text {
    &-lg {
        @include font-size(2);
    }
    &-md {
        @include font-size(1.6);
    }
    &-sm {
        @include font-size(1.4);
    }
    &-xs {
        @include font-size(1.2);
    }
}

.label {
    font-weight: 500;
}

.icon-holder {
    &--lg {
        @include font-size(2.5);
    }
    &--md {
        @include font-size(2);
    }
    &--sm {
        @include font-size(1.5);
    }
}


// Typography
h1 {
    @include font-size(4);
    @extend %heading;

    @include breakpoint(xs) {
        @include font-size(4/1.25);
    }
}

h2 {
    @include font-size(3.5);
    @extend %heading;

    @include breakpoint(xs) {
        @include font-size(3.5/1.25);
    }
}

h3 {
    @include font-size(3);
    @extend %heading;

    @include breakpoint(xs) {
        @include font-size(3/1.25);
    }
}

h4 {
    @include font-size(2.5);
    @extend %heading;

    @include breakpoint(xs) {
        @include font-size(2.5/1.25);
    }
}

h5 {
    @include font-size(2);
    @extend %heading;

    @include breakpoint(xs) {
        @include font-size(2/1.1);
    }
}

h6 {
    @include font-size(1.5);
    @extend %heading;
}

b {
    font-weight: 600;
}

strong {
    font-weight: 600;
}


// ertAl
.alert {
    .close {
        @include font-size(1.6);
    }
}


// Buttons
.btn {
    @include font($header-font, normal, 500);
    &--xl {
        @include font-size(2.2);
    }
    &--lg {
        @include font-size(2);
    }
    &--md {
        @include font-size(1.8);
    }
    &--sm {
        @include font-size(1.6);
    }
    &--xs {
        @include font-size(1.2);
    }
}


// Forms
.btn-group {
    &--header {
        i {
            @include font-size(2);
        }
    }
}

.input-number {
    @include font-size(1.6);
    font-weight: 500;
}

label {
    &.error {
        font-weight: 400;
        @include font-size(1.1);
    }
}


// Or Seprator
.or {
    &:after {
        @include font-size(0);
        line-height: 0;
    }
    span {
        @include font-size(2);
        text-transform: uppercase;
    }
}


// Table
.table {
    &-responsive-custom {
        thead {
            @include font-size(1.6);
        }
        th {
            font-weight: 500;
        }
        td {
            @include breakpoint(xs) {
                &:before {
                    @include font-size(1.5);
                    font-weight: 500;
                }
            }
        }
    }
}


// Tabs
.tabs {
    &--default {
        .nav-tabs {
            >li {
                >a {
                    font-weight: 500;
                    @include font-size(1.8);
                    @include breakpoint(sm) {
                        @include font-size(1.6);
                    }
                    @include breakpoint(xs) {
                        @include font-size(1.5);
                    }
                }
            }
        }
    }
    &--media {
        .nav-tabs {
            >li {
                @include font-size(0);
                >a {
                    font-weight: 500;
                    @include font-size(1.8);
                    @include breakpoint(sm) {
                        @include font-size(1.6);
                    }
                    @include breakpoint(xs) {
                        @include font-size(1.5);
                    }
                }
            }
        }
    }
    // Delete the below codes
    &--design {
        &-2 {
            .nav-tabs {
                >li {
                    @include font-size(0);
                    >a {
                        font-weight: 500;
                        @include font-size(1.8);
                        @include breakpoint(sm) {
                            @include font-size(1.6);
                        }
                        @include breakpoint(xs) {
                            @include font-size(1.5);
                        }
                    }
                }
            }
        }
    }
    &--vertical {
        .nav-tabs {
            >li {
                >a {
                    font-weight: 500;
                    @include font-size(1.5);
                }
            }
        }
    }
}



