@import '../../../utilities/functions',
        '../../../utilities/global-vars',
        '../base/mixins';

// Brand Color
$color-brand: #db5461;
$color-brand-secondary: #62bbc1;

// Bootstrap Color
$color-primary : #3498DB !default;
$color-success : $color-brand-secondary !default;
$color-info : #67B2E5 !default;
$color-warning : #F39C12 !default;
$color-danger : #E74C3C !default;

// Page Color Properties
$color-base: $color-80;

$color-header-brand: $color-80;
$color-header-navbar: $color-90;
$color-footer-info: $color-90;
$color-footer-copyright: $color-80;
$color-pushy: $color-90;

$color-header-typo: $color-black;
$color-semi-light: $color-50;
$color-light: $color-10;
$color-semi-dark: $color-70;
$color-dark: $color-90;

$color-link-default: $color-brand-secondary;
$color-link-default-hover: $color-90;
$color-link-brand: $color-brand;
$color-link-brand-hover: $color-90;
$color-link-light: $color-40;
$color-link-light-hover: $color-90;
$color-visited: $color-base;
$color-active: $color-base;
$color-border: $color-10;
