// styleguide:ignore:start
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
// styleguide:ignore:end

// Global Prefix
$global: 'theme';

$base-font: 	    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 	    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 	    'Merriweather', Georgia, serif;
