@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700|Questrial&subset=latin-ext,vietnamese');

// Global Prefix
$global: 'theme';

$base-font: 	    'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 	    'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 	    'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
