.dropdown {
    &--wrap {
        border: 1px solid;
        padding: 10px 15px;
    }
    &-menu {
        border: 1px solid;
        min-width: 175px;
        &>li {
            &>a {
                padding: 8px 15px;
            }
        }
    }
}
