.container {
    .jumbotron {
        background-color: transparent;
        text-align: center;
        padding: 0 175px;
        margin-bottom: 0;
        @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
            padding: 0 75px;
        }
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding: 0 35px;
        }
        @media(max-width: $screen-xs-max) {
            padding: 0 25px;
        }
        p {
            margin-bottom: 30px;
            @include last-child() {
                margin-bottom: 0;
            }
        }
    }
}
