.media {
    &-left {
        padding-right: 20px;
        figure {
            width: 100px;
        }
        img {
            max-width: 100%;
        }
        .img-link {
            display: block;
            padding: 5px;
        }
    }
    &-body {
        width: auto;
    }
}
