// Covering Background Images
%bg-image {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    @include vendor-prefix(background-size, cover);
}

// Clear gutter
%clear-gutter {
    margin: 0;
    padding: 0;
}

// List None
%list-none {
    list-style-type: none;
}

// Content Gutter
%content-gutter {
    padding: 75px 0;
}

// Hiding text under the div
%hide-text {
    overflow: hidden;
    text-indent: -9999px;
    display: block;
}

// Header font
%heading {
    margin: 0 0 15px;
}

// Visually hide an element
// @extend %visuallyhidden;
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }

// Absolute full Box
%perfect-abs {
    width: 100%;
    height: 100%;
    @include position(0, auto, auto, 0);
}
